In [415]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [416]:
data = pd.read_csv('movie_bd_v5.csv')
data.size

26446

In [417]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [418]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

def profit(row):
    return row['revenue'] - row['budget']

data['profit'] = data.apply(profit, axis=1)

def month(row):
    return row['release_date'].split('/')[0]

data['month'] = data.apply(month, axis=1)

def overview_length(row):
    return len(row['overview'].split(' '))

data['overview_length'] = data.apply(overview_length, axis=1)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [419]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [420]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,overview_length
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,5,75

ВАРИАНТ 2

In [421]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [422]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [423]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,overview_length
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,2,48

# 3. Какой из фильмов самый короткий (в минутах)?

In [424]:
display(data[data.runtime == data.runtime.min()])
answers['3'] = 'Winnie the Pooh (tt1449283)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,overview_length
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,4,52

# 4. Какова средняя длительность фильмов?

In [425]:
answers['4'] = '110'
display(data.runtime.mean())

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [426]:
answers['5'] = '107'
display(data.runtime.median())

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [427]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = 'Avatar (tt0499549)'

data[['original_title', 'profit', 'revenue', 'budget', 'release_year']].sort_values('profit', ascending=False)

,original_title,profit,revenue,budget,release_year
239,Avatar,2544505847,2781505847,237000000,2009
3,Star Wars: The Force Awakens,1868178225,2068178225,200000000,2015
0,Jurassic World,1363528810,1513528810,150000000,2015
4,Furious 7,1316249360,1506249360,190000000,2015
970,The Avengers,1299557910,1519557910,220000000,2012
...,...,...,...,...,...
1464,Flushed Away,-84540684,64459316,149000000,2006
958,The Adventures of Pluto Nash,-92896027,7103973,100000000,2002
809,Mars Needs Moms,-111007242,38992758,150000000,2011
1616,The Alamo,-119180039,25819961,145000000,2004
1245,The Lone Ranger,-165710090,89289910,255000000,2013

# 7. Какой фильм самый убыточный?

In [428]:
answers['7'] = 'The Lone Ranger (tt1210819) верно'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [429]:
answers['8'] = 1478
data[['original_title', 'profit', 'revenue', 'budget', 'release_year']][data.revenue > data.budget]

,original_title,profit,revenue,budget,release_year
0,Jurassic World,1363528810,1513528810,150000000,2015
1,Mad Max: Fury Road,228436354,378436354,150000000,2015
2,Insurgent,185238201,295238201,110000000,2015
3,Star Wars: The Force Awakens,1868178225,2068178225,200000000,2015
4,Furious 7,1316249360,1506249360,190000000,2015
...,...,...,...,...,...
1871,Keeping the Faith,7036004,37036004,30000000,2000
1875,The Kid,4700000,69700000,65000000,2000
1877,Love & Basketball,7728118,27728118,20000000,2000
1883,Return to Me,12609995,36609995,24000000,2000
1884,X-Men,82299717,157299717,75000000,2000

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [430]:
answers['9'] = 'The Dark Knight (tt0468569)'
data[data.release_year == 2008].sort_values('revenue', ascending = False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,overview_length
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7,67
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,5.6,2008,601636033,5,74
606,tt0441773,130000000,631744560,Kung Fu Panda,Jack Black|Dustin Hoffman|Angelina Jolie|Jacki...,Mark Osborne|John Stevenson,Prepare for awesomeness.,"When the Valley of Peace is threatened, lazy P...",90,Animation|Family,DreamWorks Animation,6/4/2008,6.8,2008,501744560,6,60
621,tt0448157,150000000,624029371,Hancock,Will Smith|Charlize Theron|Jason Bateman|Jae H...,Peter Berg,Bad Behavior. Bad Attitude. Real Hero.,Hancock is a down-and-out superhero who's forc...,92,Fantasy|Action,Columbia Pictures|Weed Road Pictures|Forward P...,7/1/2008,6.0,2008,474029371,7,63
607,tt0795421,52000000,609841637,Mamma Mia!,Meryl Streep|Pierce Brosnan|Amanda Seyfried|Co...,Phyllida Lloyd,Take a trip down the aisle you'll never forget,"Set on an idyllic Greek island, the plot serve...",108,Comedy|Romance,Universal Pictures|Internationale Filmprodukti...,6/30/2008,6.2,2008,557841637,6,63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
708,tt0486674,25000000,6673422,What Just Happened,Bruce Willis|Robert De Niro|Sean Penn|Robin Wr...,Barry Levinson,Admit nothing.,During the course of an ordinary week in Holly...,104,Comedy|Drama,2929 Productions|Linson Entertainment|Art Lins...,10/17/2008,5.1,2008,-18326578,10,75
673,tt0800241,15000000,5926410,Transsiberian,Woody Harrelson|Emily Mortimer|Kate Mara|Eduar...,Brad Anderson,You can't escape your lies.,A Trans-Siberian train journey from China to M...,111,Thriller|Crime|Mystery,Lietuvos Kinostudija|Scout Productions|Telecin...,1/18/2008,6.3,2008,-9073590,1,27
702,tt0844286,20000000,5530764,The Brothers Bloom,Rachel Weisz|Adrien Brody|Mark Ruffalo|Rinko K...,Rian Johnson,They'd never let the truth come between them.,The Brothers Bloom are the best con men in the...,114,Adventure|Comedy|Drama|Romance,The Weinstein Company|Summit Entertainment|End...,9/9/2008,6.8,2008,-14469236,9,51
711,tt0805570,15000000,3533227,The Midnight Meat Train,Bradley Cooper|Vinnie Jones|Brooke Shields|Les...,RyÃ»hei Kitamura,The most terrifying ride you'll ever take,The photographer Leon lives with his girlfrien...,98,Mystery|Drama|Crime|Thriller|Horror,Lions Gate Films|Lakeshore Entertainment|Green...,8/7/2008,5.7,2008,-11466773,8,175
712,tt0490181,8000000,2033165,Mutant Chronicles,Ron Perlman|Thomas Jane|Devon Aoki|Sean Pertwe...,Simon Hunter,Welcome to the 23rd century. The new dark ages.,It's the year 2707. Earth's natural resources ...,111,Action|Adventure|Horror|Science Fiction,Isle of Man Film|Edward R. Pressman Film|Parad...,8/7/2008,5.1,2008,-5966835,8,67

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [431]:
answers['10'] = 'The Lone Ranger (tt1210819)'

def profit(row):
    return row['revenue'] - row['budget']

data['profit'] = data.apply(profit, axis=1)
data[['original_title', 'profit', 'revenue', 'budget', 'release_year']][(data['release_year']>=2012) & (data['release_year']<=2014)].sort_values('profit', ascending=False)

,original_title,profit,revenue,budget,release_year
970,The Avengers,1299557910,1519557910,220000000,2012
1177,Frozen,1124219009,1274219009,150000000,2013
1180,Iron Man 3,1015439994,1215439994,200000000,2013
974,Skyfall,908561013,1108561013,200000000,2012
1189,Despicable Me 2,894761885,970761885,76000000,2013
...,...,...,...,...,...
1235,Bullet to the Head,-45510171,9489829,55000000,2013
1302,Legends of Oz: Dorothy's Return,-51337973,18662027,70000000,2013
1007,Upside Down,-51893525,8106475,60000000,2012
1214,R.I.P.D.,-68351500,61648500,130000000,2013
1245,The Lone Ranger,-165710090,89289910,255000000,2013

# 11. Какого жанра фильмов больше всего?

In [432]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'

genres = pd.Series()
d = data['genres'].str.split('|', expand=True)
for column in d:
   genres = pd.concat([genres, d[column]])
display(len(d))
display(genres.value_counts())
genres.value_counts().index[0]

1889

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

'Drama'

ВАРИАНТ 2

In [433]:
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [434]:
answers['12'] = 'Drama'
#Способ 1
profitable_genres = {}
for genre in genres.unique():
    profitable_genres[genre] = 0
profitable_genres

profitable = data[data['profit'] > 0]

for item in profitable['genres']:
    for genre in item.split('|'):
        profitable_genres[genre] += 1
profitable_genres

{k: v for k, v in sorted(profitable_genres.items(), key=lambda item: item[1], reverse=True)}

#Способ 2
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [435]:
answers['13'] = 'Peter Jackson'
directors = pd.Series(data['director'].str.cat(sep='|').split('|')).unique()
revenues = []
for director in directors:
    revenues.append(data[data['director'].str.contains(director)]['revenue'].sum())
pd.Series(revenues, index=directors).sort_values(ascending=False)

Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [436]:
answers['14'] = 'Robert Rodriguez'

action_count = []
for director in directors:
    action_count.append(len(data[(data['director'].str.contains(director)) & data['genres'].str.contains('Action')]))
pd.Series(action_count, index=directors).sort_values(ascending=False)

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Chris Wedge           0
Jay Duplass           0
Mark Duplass          0
Rodrigo GarcÃ­a       0
Peter Bogdanovich     0
Length: 997, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [437]:
answers['15'] = 'Chris Hemsworth '

actors = pd.Series(data['cast'].str.cat(sep='|').split('|')).unique()
actors_revenues = []

for actor in actors:
    actors_revenues.append(data[data['cast'].str.contains(actor) & (data['release_year'] == 2012)]['revenue'].sum())
    
pd.Series(actors_revenues, index=actors).sort_values(ascending=False)

Chris Hemsworth       2027450773
Denis Leary           1629460639
Anne Hathaway         1522851057
Robert Downey Jr.     1519557910
Mark Ruffalo          1519557910
                         ...
Ron Eldard                     0
Desmond Harrington             0
Julianna Margulies             0
Gabriel Byrne                  0
Gregory Smith                  0
Length: 3406, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [438]:
answers['16'] = 'Matt Damon'

high_budget = data[data['budget'] > data['budget'].mean()]
high_budget_count = []

for actor in actors:
    high_budget_count.append(len(data[data['cast'].str.contains(actor) & (data['budget'] > data['budget'].mean())]))

high_budget_count
pd.Series(high_budget_count, index=actors).sort_values(ascending=False)

Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
Tom Cruise        15
Eddie Murphy      15
                  ..
Eric Mabius        0
Rae Dawn Chong     0
Sean Kingston      0
Usher Raymond      0
Gregory Smith      0
Length: 3406, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [439]:
answers['17'] = 'Action'

pd.Series(data[data['cast'].str.contains('Nicolas Cage')]['genres'].str.cat(sep='|').split('|')).value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Mystery             3
Animation           3
History             2
Romance             1
Horror              1
War                 1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [440]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

paramount_films = data[data['production_companies'].str.contains('Paramount Pictures')]
paramount_films[paramount_films['profit'] == paramount_films['profit'].min()]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [441]:
answers['19'] = '2015'

data.groupby(['release_year']).sum()['revenue'].sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [442]:
answers['20'] = '2014'

data[data['production_companies'].str.contains('Warner Bros')].groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [443]:
answers['21'] = 'Сентябрь'

months_count = data.groupby(['month']).size()
display(months_count)
months_count.sort_values(ascending=False)

month
1     110
10    186
11    146
12    190
2     135
3     156
4     149
5     140
6     147
7     142
8     161
9     227
dtype: int64

month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [444]:
answers['22'] = '450'

# months_count[months_count['month'] in ['6', '7' ,'8']]
months_count[['6', '7', '8']].sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [445]:
answers['23'] = 'Peter Jackson'

pd.Series(data.query("month in ['12', '1' ,'2']")['director'].str.cat(sep='|').split('|')).value_counts()

Peter Jackson         7
Steven Soderbergh     6
Clint Eastwood        6
Shawn Levy            4
Martin Scorsese       4
                     ..
Peter Spierig         1
Baltasar KormÃ¡kur    1
Mark Neveldine        1
Martin McDonagh       1
Jeff Schaffer         1
Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [452]:
answers['24'] = 'Four By Two Productions  '

production_companies = pd.Series(data['production_companies'].str.cat(sep='|').split('|')).unique()

titles_length = []

for company in production_companies:
    titles_length.append(data[data['production_companies'].str.contains(company)].original_title.str.len().mean())

pd.Series(titles_length, index=production_companies).sort_values(ascending=False)

Four By Two Productions                                 83.0
Jim Henson Company, The                                 59.0
Dos Corazones                                           47.0
Polsky Films                                            46.0
Museum Canada Productions                               46.0
                                                        ...
Warner Independent Pictures (WIP)                        NaN
The Movie Network (TMN)                                  NaN
Munich Film Partners & Company (MFP) MI2 Productions     NaN
Danmarks Radio (DR)                                      NaN
Munich Film Partners & Company (MFP) ROE Production      NaN
Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [454]:
answers['25'] = 'Midnight Picture Show'

description_mean = []

for company in production_companies:
    description_mean.append(data[data['production_companies'].str.contains(company)].overview_length.mean())

pd.Series(description_mean, index=production_companies).sort_values(ascending=False)

Midnight Picture Show                                   175.0
Room 9 Entertainment                                    161.0
Heineken Branded Entertainment                          161.0
98 MPH Productions                                      159.0
Brookwell-McNamara Entertainment                        156.0
                                                        ...
Warner Independent Pictures (WIP)                         NaN
The Movie Network (TMN)                                   NaN
Munich Film Partners & Company (MFP) MI2 Productions      NaN
Danmarks Radio (DR)                                       NaN
Munich Film Partners & Company (MFP) ROE Production       NaN
Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [448]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

data.sort_values('vote_average', ascending=False).head(round(0.01*len(data)))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,overview_length
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7,67
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480,11,35
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708,11,46
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609,6,112
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758,10,49
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694,12,29
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363,10,30
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000,10,61
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399,7,28
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979,12,45
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096,10,78
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000,7,44
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577,9,39
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318,2,66
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,12/18/2013,7.8,2013,24351251,12,65
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015,68346473,11,30
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/2014,7.8,2014,487105443,10,29
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,5/16/2014,7.8,2014,293151265,5,47
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/2002,7.8,2002,847287400,12,41

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [449]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

from itertools import combinations
actor_list = data.cast.str.split('|').tolist()
combo_list=[]
for i in actor_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(sorted(j)))
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']
combo_list.actor_combinations.value_counts().head(10)

Emma Watson Rupert Grint            8
Daniel Radcliffe Emma Watson        8
Daniel Radcliffe Rupert Grint       8
Ben Stiller Owen Wilson             6
Helena Bonham Carter Johnny Depp    6
Kristen Stewart Robert Pattinson    5
Adam Sandler Kevin James            5
Kristen Stewart Taylor Lautner      5
Hugh Jackman Ian McKellen           5
Paul Walker Vin Diesel              5
Name: actor_combinations, dtype: int64

ВАРИАНТ 2

# Submission

In [450]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819) верно',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth ',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Warner Bros',
 '25': 'Warner Bros',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [451]:
# и убедиться что ни чего не пропустил)
len(answers)

27